.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
*.tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.oci/
*.pem

instances/
config.yml
__pycache__/
*.egg-info/
.venv/
.pytest_cache/
.terraform-plugin-cache/
